/* App.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  animation: colorChange 8s infinite alternate;
}

@keyframes colorChange {
  0% {
    background-color: #282c34;
  }
  100% {
    background-color: #61dafb;
  }
}

.About,
.Projects,
.Contact {
  margin: 20px;
}

.Project {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  transition: transform 0.3s ease-in-out;
}

.Project:hover {
  transform: scale(1.05);
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #282c34;
  color: white;
}

/* Add more styles as needed */

@keyframes bound-anim{
  0%{transform: translateY(0);}
  100%{transform: translateY(24px);}
}

/*** 全文字にアニメーションを適用 ***/
.bound span{
  font-size: 2rem;
  margin-right: 15px;
  display: inline-block; /*横並びにしつつアニメーションを適用*/
  animation: .5s bound-anim ease-in infinite alternate;
}

/*** 各文字のスタート時間をずらす ***/
/* 1文字目 */
.bound span:nth-child(1){
  animation-delay: 0;
}
/* 2文字目 */
.bound span:nth-child(2){
  animation-delay: 0.2s;
}
/* 3文字目 */
.bound span:nth-child(3){
  animation-delay: 0.4s;
}
/* 4文字目 */
.bound span:nth-child(4){
  animation-delay: 0.6s;
}
.bound span:nth-child(5){
  animation-delay: 0.8s;
}
/*** 装飾用 ***/
/* p{
  font-size: 2rem;
  font-weight: bold;
} */